:root {
    --black-border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: hsl(240 51% 33% / 1);
}

nav a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

header, .grid, footer {
    margin: 0 auto;
    max-width: 840px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

h1 {
    border-bottom: 1px solid #000;
    padding: 1rem;
    color: hsl(240 51% 33% / 1);
}

main img {
    float: right;
    margin: 0.5rem;
    border: var(--black-border);
    padding: 2px;
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px gray;
}

main p {
    margin: 1rem;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 135px;
    color: #fff;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 16px;
    border-top: var(--black-border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    color: #333;
    background-color: #eee;
}

.indent {
    padding-left: 2rem;
}