nav {
    padding: 10px;
    background-color: darkblue;
}

nav a {
    display: block;
    padding: 20px;
    color: white;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    border: 1px solid black;
    padding: 2px;
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px gray;
}

aside {
    margin: 8px;
    border: 1px solid black;
    padding: 4px;
    width: 70%;
    color: #1f3349;
    background-color: lightblue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 16px;
    border-top: 1px dashed gray;
    text-align: center;
}