.callout {
    padding: 15px;
    max-width: 400px;
	color: white;
    background-color: blue;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 2px solid white;
    width: 100px;
    height: 100px;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dashed white;
    text-align: end;
}